@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-cinema:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-telephone:before { content: "\f102"; }
.flaticon-envelope:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-left-arrow:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-business:before { content: "\f107"; }
.flaticon-calendar:before { content: "\f108"; }
.flaticon-popcorn:before { content: "\f109"; }
.flaticon-wifi-signal:before { content: "\f10a"; }
.flaticon-furniture:before { content: "\f10b"; }
.flaticon-black:before { content: "\f10c"; }
.flaticon-play-button:before { content: "\f10d"; }