* {
    box-sizing: border-box;
}

html {
    text-transform: capitalize;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
}

a,h2,h3 {
    color: #f39c12;
    text-decoration: none;
    font-weight: normal;
    display: inline;
}

a:hover {
    color: white;
}

input {
    border: none;
    background: transparent;
    font-style: italic;
    color: #fff;
    position: relative;
    top: -7px;
}

table {
    background: rgba(255,255,255,.09);
    border-radius: 999px;
    border: 1px solid rgba(255,255,255,.5);
    font-size: 14pt;
    padding: 12px 20px;
}

th {
    padding: 0 12px;
}

.film-selector:active {
    background: #f39c12; 
    padding: 17px 10.5px 56px;
    border: 1px solid;
    box-shadow: 0px 0px 15px #f39c12;
    z-index: -1
}

.white {
    color: #fff;
}

.yellow {
    color: #f39c12;
}

#bg-top {
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../res/img/1.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 700px; 
    object-fit:fill;
}

#menu-bar {
    padding: 40.5px 0;
    width: 100%;
    position: relative;
    top: -6px;
    background: rgba(0, 0, 0, .5);
    display: inline-flex;
    overflow: hidden;
}

#menu-bar a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 40px;
}

#menu-bar a:first-child {
    position: relative;
    top: 10px !important;
    padding: 0;
    margin:0 100px;
}

.right-box {
    width: 50%;
}

.inline-block {
    display: inline-block;
}

#home-button {
    font-size: 20pt;
    margin-right: 390px !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#ticket-button {
    text-align: center;
    border: 2px solid #f39c12;
    width: 120px;
    height: 40px;
    padding: 10px 10px;
    margin-right: 100px;
    font-size: 13px;
    letter-spacing: 1;
}

.rounded {
    border-radius: 100px;
}

.search {
    width: 280px;
    height: 15px;
    border: 1px solid #fff;
    opacity: 40%;
    padding: 15.5px 18px;
    float: left;
    opacity: .4;
}

.sf {
    font-size: 13pt;
}

#movie-title, #home-button, #get-ticket-button, #buy-ticket-button {
    color: #f39c12;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

#tags, #synopsis, p, #footer {
    color: #fff;
    opacity: .5;
}

#tags {
    display: inline-block;
    height: 40px;
}

#title-content {
    padding-left: 100px;
    margin-top: 200px;
    height: 200px;
}

.middle-box {
    margin: 0 10px;
    padding: 0 10px;
    border-left: 1px solid rgba(255,255,255,.5);
    border-right: 1px solid rgba(255,255,255,.5);
}

#movie-title-white {
    text-align: left;
    font-size: 30pt;
    margin-bottom: 30px;
}

.white-box, .container {
    margin: 100px 0;
    background: #fff;
    position: relative;
    top: 40px;
}

.white-box-bg {
    background-image: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../res/img/65143340e5fc0818f675cef06e3c4e52.jpg);
}

.container {
    margin: 0 100px;
    margin-bottom: 100px;
    border-radius: 12px;
    top: -80px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

#now-playing {
    padding: 35px 50px;
}

.clear {
    clear: both;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.moviebox {
    width: 280px;
    height: 380px;
    margin: 10px 0 50px;
    text-align: left;
}

.moviebox:last-child {
    margin-right: 50px;
}

.moviebox:first-child {
    margin-left: 50px;
}

.movie-text {
    font-size: 14px;
    padding: 0 25px;
    position: relative;
    top: 310px;
}

.opacity7 {
    opacity: .7;
}

.schedule-box {
    border-radius: 10px;
    padding: 15px 0;
    margin: 0 50px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 20px rgba(243,156,18,.5);
    background: #f39c12;
    position: relative;
    bottom: 22px;
}

.schedule-date {
    background: #fff;
    width: auto;
    text-align: center;
    padding: 10px 30px;
    margin: 0 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(243,156,18,.5);
    position: relative;
    bottom: 22px;
}

.schedule-tbl {
    width:inherit;
    padding: 10px;
    margin: 0 50px;
    border-collapse: separate;
    border-spacing: 0 28px;
}

.hours, .mov-title, .cinemas, .studio, .buy-button {
    font-size: 16px
}

.hours, .cinemas, .studio {
    color: #aaaaaa;
}

.cinemas, .studio {
    padding-right: 90px;
}

.hours {
    padding-right: 28px;
}

.mov-title {
    padding-right: 180px;
}

#film-overlay-bg {
    position: relative;
    bottom: 60px;
    background-image: linear-gradient(rgba(29,29,29,.9),rgba(29,29,29,.9)), url(../res/img/guardians_of_the_galaxy_raccoon_rocket_98783_1920x1080.jpg);
    background:
    object-fit: fill;
    height: 1000px;
}

#film-detail {
    padding: 60px 100px;
    margin-top: 50px;
}

.right-menu {
    display: inline-flex;
    padding: 0 30px;
}

.right-menu>span {
    padding: 0 30px;
}

#buy-ticket {
    width: 150px;
    border: 1px solid #f39c12;
    text-align: center;
    padding: 5px;
}

.film-container {
    margin-top: 50px;
}

.film-play-box {
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../res/img/BATMAN-SUPERMAN-1.jpg);
    width: 500px;
    height: 300px;
    border: 1px solid #f39c12;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    background-size: 500px 300px;
    background-repeat: no-repeat;
}

.synopsis-container {
    width: 55%;
    padding: 0 30px;
    line-height: 1.8;
}

.synopsis-container>p, .synopsis-container>a {
    font-size: 12px;
}

.tbl-info-film {
    margin-top: 35px;
    padding-top: 10px;
    border-top: 1px solid rgba(255,255,255,.1);
    width: 52.3%;
}

.tbl-info-film>table {
    font-size: 11px !important;
    background: none;
    border: 0;
    border-collapse: separate;
    border-spacing: 10px 20px;
}

.pad-left-50 {
    padding-left: 50px;
}

.movie-selection-overlay {
    background: rgba(0,0,0,.3);
    height: 450px;
}

.container-selection {
    margin: 0 80px;
}

.movie-selection-overlay>div {
    padding: 0;
}

.movie-selection {
    margin: 90px 20px;
    width: 240px;
    height: 270px;
    background-size: cover;
}

#selection-active {
    position: relative;
    top: 20px;
    margin: 0 20px;
}

.active-border {
    position: relative;
    top: 30px;
    align-content: center;
    width: 247px;
    height: 370px;
    border: 1px solid #f39c12;
    box-shadow: inset 0 0 100px rgba(243,156,18,.1), 0 0 10px rgba(243,156,18,.5) ;
}

.active-border>.movie-selection {
    width: 195px;
}

.movie-selection-desc {
    padding: 35px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bioskop-facilities {
    position: relative;
    bottom: 60px;
    padding: 0 50px;
    background-image: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(../res/img/pirates_of_the_caribbean_movie-HD.jpg); 
    height: 400px;
}

.bioskop-facilities-title {
    letter-spacing: .5;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px 0;
    margin: 0 50px;
    text-align: center;
    width: 240px;
    text-shadow: 0px 0px 3px #f39c12;
    background: #fff;
    position: relative;
    bottom: 22px;
}

.vw {
    position: relative;
    right: 10px;
    width: 99vw;
}